
<h2>Up Next # {{sequence}} </h2>
<h3>{{orders.length}} Orders Here</h3>


{{#each order in orders}}
	<h3>
	{{order.name}} - {{order.telephone}}
	</h3>
{{/each}}


<button {{action "delivered"}}>Delivered</button>

