<div class="row">
	<div class="large-12 columns">
		<div class="up-next-wrapper">
			{{outlet}}
		</div>
	</div>
</div>

<h3>Coming Up</h3>

{{#each item in controller}}

	{{#if showComingUp}}
		{{#if multiple}}

			Click to see orders | {{item.sequence}}
			{{#each order in orders}}
				<li>
					<div>{{order.name}}</div>
				</li>
			{{/each}}
			
			{{else}}

			{{#each order in orders}}
				<li>
			    {{order.name}} | {{item.sequence}} - {{multiple}} 
				</li>
			{{/each}}
			
		{{/if}}
	{{/if}}

	

{{/each}}






